<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link href="assets/css/site.css" rel="stylesheet" />
</head>
<body>

    <div ng-app="mainApp" data-ng-controller="CRUDController">
        <table >
            <tr>
                <td>EmpId: </td>
                <td>
                    <span>{{ EmpModel.Id }}</span>
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" data-ng-model="EmpModel.Name" />
                </td>
            </tr>
            <tr>
                <td>Salary:</td>
                <td>
                    <input type="number" data-ng-model="EmpModel.Salary" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Add Data" />
                </td>
            </tr>
        </table>
    </div>

    <script type="text/javascript">
        var app = angular.module("mainApp", []);

        app.controller('CRUDController', function ($scope) {
            $scope.EmpModel = {
                Id: 0,
                Salary: 0,
                Name: 'XYZ',
            };
        });
    </script>
</body>
</html>  